.emacs.d/auto-save-list/
.emacs.d/backups/
.emacs.d/elpa/archives/
.emacs.d/places
.emacs.d/.smex-items
.emacs.d/url/cookies
.emacs.d/.smex-items
.emacs.d/elpa/
.emacs.d/eshell/
.emacs.d/swank/
.emacs.d.old/auto-save-list/
.emacs.d.old/backups/
.emacs.d.old/elpa/archives/
.emacs.d.old/places
.emacs.d.old/.smex-items
.emacs.d.old/url/cookies
.emacs.d.old/.smex-items
.emacs.d.old/elpa/
.emacs.d.old/eshell/
.emacs.d.old/swank/