[submodule "emacs-live"]
	path = emacs-live
	url = https://github.com/overtone/emacs-live.git
	branch = master
[submodule "emacs-live-packs/danieljomphe-pack"]
	path = emacs-live-packs/danieljomphe-pack
	url = https://github.com/DanielJomphe/danieljomphe-pack.git
	branch = master
